<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="layoutBaseLog" value="${longdate}  |  ${processid:padding=5}  |  ${threadid:padding=2}  |  ${uppercase:${level}:padding=5}  |  ${logger}  |  ${message}
			${onexception:EXCEPTION\: ${newline}    ${exception:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}}" />

	<variable name="archAboveSize" value="10000000" />

	<targets>
		<target
			xsi:type="File"
			name="file"
			enableArchiveFileCompression="true"
			archiveAboveSize="15000000"
			archiveFileName="${basedir}/Log/AgentAgentArchive/AgentAgent.zip"
			fileName="${basedir}/Logs/${logger}.log"
			layout="${layoutBaseLog}"
			maxArchiveFiles="10"
		/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>